
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dime shoppy</title>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Josefin+Sans:ital@1&family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="topnav">
    <a class="navbar-brand title" routerLink="/main">
    <img class="logo" src="assets/e_logo.jpg" alt="">
    <span class="brandname part1"><i><b>Dime</b></i></span>
    <span class="brandname part2">shoppy</span>
    <div class="chip ">
        <img src="../../assets/icon.jpg" alt="Person" width="96" height="96">
        Welcome User!
      </div>
      
  </a>
</div>
</body>
</html>



