.table1{
    position: relative;
    margin-left: 180px;
    border: 5px solid black;
    width: 1300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .col{
    width: fit-content;
  }
  .heading1{
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:600px;
    border: 2px;
  }