<app-header></app-header>
<app-dashboard></app-dashboard>
<h1 class="heading1">Order details</h1>
<table class="table table-hover table1 table-bordered">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Image</th>
        <th scope="col">Product Price</th>
        <th scope="col">Date Of Order</th>
        <th scope="col">Order Status</th>
        <th scope="col">Date of Delivery</th>
        <th scope="col">Feedback</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Riya Kank</td>
        <td>MELANGE Printed Angrakha Anarkali Kurti with 3/4 Sleeves</td>
        <td><img  width="100px" height="100px" src="../../assets/inventory/kurti.jpg" alt=""></td>
        <td>899</td>
        <td>09/04/2020</td>
        <td>Out for Delivery</td>
        <td>15/04/2020</td>
        <td>-</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Varada Datar</td>
        <td>REDTAPE ATHLEISURE Textured Lace-Up Sock-Knit Shoes </td>
        <td><img  width="100px" height="100px" src="../../assets/inventory/shoes.jpg" alt=""></td>
        <td>899</td>
        <td>01/05/2020</td>
        <td>Order received</td>
        <td>10/05/2020</td>
        <td>-</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Priya Gandhal</td>
        <td>LOUIS PHILIPPE JEANS Stonewashed Slim Fit Jeans</td>
        <td><img  width="100px" height="100px" src="../../assets/inventory/jeans.jpg" alt=""></td>
        <td>899</td>
        <td>06/05/2020</td>
        <td>Delivered</td>
        <td>11/05/2020</td>
        <td>-</td>
      </tr>
     
    </tbody>
  </table>
<app-footer></app-footer>