 <!-- HEADER MOBILE-->
    <app-header></app-header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
    <app-dashboard></app-dashboard>
<!-- END MENU SIDEBAR-->
<!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="row row1">
            <div class="col-lg-11">
                    <br>
                    <h2 class="title-1">OVERVIEW</h2>
                    <hr><br>
                    <div class="card-deck card-size ">
                        <div class="card bg-primary card-size  ">
                          <div class="card-body text-center">
                            <p class="card-text">Customers Reached</p>
                            <canvas class="graph" id="lineChart"></canvas>
                          </div>
                        </div>
                        <div class="card bg-warning card-size">
                          <div class="card-body text-center">
                            <p class="card-text">Products Sold</p>
                            <canvas class="graph" id="lineChart"></canvas>
                          </div>
                        </div>
                        <div class="card bg-success card-size">
                          <div class="card-body text-center">
                            <p class="card-text">This Week</p>
                            <canvas class="graph" id="lineChart"></canvas>
                          </div>
                        </div>
                        <div class="card bg-danger card-size">
                          <div class="card-body text-center">
                            <p class="card-text">This Month</p>
                            <canvas class="graph" id="lineChart"></canvas>
                          </div>
                        </div>
                      </div>
                      <hr><br>
                      <h2 class="title-1">Product Sale</h2>  
                      <hr>
                      <table class="table-bordered table1 table-striped table-hover">
                        <thead class="thead-dark">
                            <th>Sr No.</th>
                            <th>Sale Date</th>
                            <th>Product Name</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>25/12/2019</td>
                                <td>Kurti</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>25/2/2020</td>
                                <td>Kurti</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>25/3/2020</td>
                                <td>Kurti</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>25/4/2020</td>
                                <td>Kurti</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>25/5/2020</td>
                                <td>Kurti</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>25/6/2020</td>
                                <td>Kurti</td>
                            </tr>
                        </tbody>
                        <tfoot>
        
                        </tfoot>
                    </table>
                    <hr><br>
                    <h2 class="title-1">RECENT ACTIVITIES</h2>
                    <hr>
                    <table class="table-bordered table1 table-striped table-hover">
                        <thead class="thead-dark">
                            <th>Sr No.</th>
                            <th>Activity</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>order Received</td>
                                <td>Order from Ms Varada Datar received on Monday, 12/25/2019 </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Stock Added</td>
                                <td>New Stock Added on 31/12/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Order Dispatched</td>
                                <td>Order id 125634 Dispatched on 31/12/2019 </td>
                            </tr>
                      
                        </tbody>
                        <tfoot>
        
                        </tfoot>
                    </table>
                    <button class="btn btn-info">View More>></button>
            </div>
            <div class="col-lg-1 ">
                <div class="card prof" style="width: 18rem;">
                    <img src="../../assets/icon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Your Profile</h5>
                      <p class="card-text">Company Name -
                           TagLine</p>
                    </div>
                    <ul class="list-group list-group-flush t1">
                      <li class="list-group-item ">Speciality1</li><br>
                      <li class="list-group-item">Speciality2</li><br>
                      <li class="list-group-item">Speciality3</li><br>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Your Messages</a><br><hr class="border1">
                      <a href="#" class="card-link">Your Activities</a><br><hr class="border1">
                    </div>
                  </div>
            </div>

        </div>
    </div>
       
       
       
           
   
        



 
        
               
            
            
            <!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
<!-- PAGE FOOTER -->
<app-footer></app-footer>
<!-- PAGE FOOTER-->
        

